html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#accordion-container {
    width: 800px;
    height: 500px;
}

.tab {
    background-color: #444;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}