html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#accordion-container {
    margin-top: 10vh;
    width: 800px;
    height: 500px;
}

.tab {
    background-color: #444;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    user-select: none;
}

.pane {
    height: 140px;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

.pane.closed {
    height: 0px;
}

.content {
    padding: 10px;
}

.tab-arrow {
    transition: all .25s ease-in-out;
}

.tab-arrow.closed {
    transform: rotate(180deg);
}