html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}   

:root {
    --black: rgb(50, 50, 54);
}

ul {
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* Button 1 */
#btn1 {
    position: relative;
    font-size: 1.5em;
    padding: .5em 1em;
    border-radius: .5em;
    border: .1em rgb(255, 174, 24) solid;
    background: none;
    overflow: hidden;
    color: var(--black);
}

#btn1 span {
    position: absolute;
    width: 40%;
    height: 150%;
    top:0;
    border-radius: 2em 2em 0 0;
    z-index: -1;
}

#btn1:hover span {
    background-color: rgb(255, 174, 24);
    animation: btn1 .5s forwards ease-in-out;
    transform: translateY(100%);
}

#btn1 span:nth-child(1) {
    left: 0;
}

#btn1 span:nth-child(2) {
    left: 25%;
}

#btn1:hover span:nth-child(2) {
    animation-delay: .1s;
}

#btn1 span:nth-child(3) {
    left: 50%;
}

#btn1:hover span:nth-child(3) {
    animation-delay: .2s;
}

#btn1 span:nth-child(4) {
    left: 75%;
}

#btn1:hover span:nth-child(4) {
    animation-delay: .3s;
}

@keyframes btn1 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-33%);
    }
}

/* Button 2 */
#btn2 {
    padding: 0.5em 1em;
    font-size: 1.5em;
    border-radius: 1.25em;
    width: 2.5em;
    height: 2.5em;
    transition: 0.2s all ease-in-out;
    background-color: rgb(68, 167, 174);
}

#btn2 span {
    color: rgba(255, 255, 255, 0);
    transition: 0.2s all ease-in-out;
}

#btn2:hover {
    width: 6em;
}

#btn2:hover span {
    color: rgb(255, 255, 255, 1);
}

/* Button 3 */
#btn3 {
    background-color: white;
    font-size: 1.5em;
    border-radius: .5em;
    padding: 0.5em 1em;
    border: none;
    filter: drop-shadow(0 5px 10px #ccc);
}

#btn3:focus {
    filter: drop-shadow(0 3px 5px #ccc);
}