#forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    width: 500px;
    font-family: sans-serif;
    margin: 50px auto;
}

form label {
    display: block;
}

form input {
    display: block;
}

#form1 h1 {
    background-color: pink;
    padding: 10px;
    margin: 0;
    border-radius: 20px 20px 0 0;
    color: rgb(185, 79, 242);
}

#form1 label {
    color: rgb(185, 79, 242);
    margin: 10px;
    font-size: 20px;
}

#form1 .input {
    background-color: none;
    border: none;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid pink;
    margin-bottom: 10px;
}

#form1 .input:focus {
    outline: none;
    border-bottom: 1px solid rgb(185, 79, 242);
}

#form1 .submit {
    color:rgb(185, 79, 242);
    background: pink;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#form1 .submit:hover {
    background: rgb(230, 173, 182);
    color:rgb(161, 21, 237);
}

#form2 {
    background-color: #ddd;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#form2 h1 {
    margin: 0;
    color: #333;
    text-decoration: underline;
    margin-bottom: 25px;
}

#form2 label {
    color: #333;
}

#form2 .input {
    border: #aaa solid 1px;
    padding: 10px;
    width: calc(100% - 30px);
    margin: 10px 0;
}

#form2 .input:focus {
    outline: none;
    border: 1px #333 solid;
}

#form2 .submit {
    padding: 5px 10px;
    margin-top: 15px;
    color: #333;
}